/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache
/storage/clockwork
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
httpd.conf

_ide_helper.php
.editorconfig
.phpstorm.meta.php
bucket-pipelines.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
